<!DOCTYPE html>
<html lang="en">


<#assign title="recuperar password">
<#include "/base.ftl" >

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0" role="main" >
        <h1 class="display-2" style="text-align: center; color: #e6e6e6;"><b>JavaEats</b></h1>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-1"></div>
                <div class="col-md-auto catalogo">
                    <div class="my-container-sm geral">
                        <h2 style="color: #2B2D2F; padding-bottom: 10px">Introduz uma nova password</h2>
                        <p style="color: #696969">As passwords têm de ser iguais</p>

                        <form method="post" action="/recuperar_password/" class="form-group">
                            <input class="form-control" type="password" placeholder="Password" name="password1" required
                                   aria-describedby="passwordHelpBlock"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?_])[A-Za-z\d@$!%*?_]{8,}">

                            <input class="form-control" type="password" placeholder="Confirmar password" name="password2" required
                                   aria-describedby="passwordHelpBlock"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?_])[A-Za-z\d@$!%*?_]{8,}" style="margin-top: 5px; margin-bottom: 10px">
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                A tua password tem de ter no mínimo 8 carateres incluindo 1 algarismo, 1 letra maiúscula, 1 letra minúscula e 1 símbolo
                            </small><br/>
                            <div>
                                <a href="/login/" class="btn btn-danger btn-toggle" role="button" aria-disabled="true">Cancelar</a>
                                <button class="btn btn-success btn-toggle" type="submit">Enviar</button>
                            </div>
                        </form>
                        <#if passwords_not_equal?exists>
                            <p class="alert alert-danger">Passwords não são iguais!</p>
                        </#if>
                    </div>
                </div>
                <div class="col col-lg-1"></div>
            </div>
        </div>
    </main>
    <#include "/footer.ftl">
</body>
</html>
