<!DOCTYPE html>
<html>

<#assign title="alterar password">
<#include "/base.ftl" >

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0" role="main" >
        <div class="container"><br/><br/><br/>
        <div class="row justify-content-md-center">
            <div class="col col-lg-1"></div>
            <div class="col-md-auto catalogo">
                <div class="my-container-sm geral">
                    <h2 style="color: black; padding-bottom: 10px">Introduz uma nova password</h2>
                    <p style="color: #696969">As passwords têm de ser iguais</p>
                    <form method="post" action="/alterar_password/${utilizador.util_id}/" class="form-group">
                        <input class="form-control" type="password" placeholder="Password atual" name="password1" required
                               aria-describedby="passwordHelpBlock">
                        <!--                <input class="form-control" type="password" placeholder="Password atual" name="password1" required-->
                        <!--                       aria-describedby="passwordHelpBlock"-->
                        <!--                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?_])[A-Za-z\d@$!%*?_]{8,}">-->

                        <input class="form-control" type="password" placeholder="Password" name="password2" required
                               aria-describedby="passwordHelpBlock"
                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?_])[A-Za-z\d@$!%*?_]{8,20}" style="margin-top: 5px; margin-bottom: 5px">

                        <input class="form-control" type="password" placeholder="Confirmar password" name="password3" required
                               aria-describedby="passwordHelpBlock"
                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?_])[A-Za-z\d@$!%*?_]{8,20}" style="margin-top: 5px; margin-bottom: 10px">
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            A tua password tem de ter no mínimo 8 carateres incluindo 1 algarismo, 1 letra maiúscula, 1 letra minúscula e 1 símbolo
                        </small><br/>

                        <button class="btn btn-success btn-toggle" type="submit">Confirmar</button>
                        <button onclick="history.back()" class="btn btn-danger btn-toggle" role="button" aria-disabled="true">Cancelar</button>
                    </form>
                    <#if passwords_not_equal?exists>
                    <p class="alert alert-danger">Passwords não são iguais!</p>
                </#if>
                <#if wrong_password?exists>
                <p class="alert alert-danger">Password atual incorreta!</p>
            </#if>
                </div>
            </div>
            <div class="col col-lg-1"></div>
        </div>
        </div>
    </main>
<#include "/footer.ftl">
</body>
</html>
