<!DOCTYPE html>

<html>
<#assign title="login">
<#include "/base.ftl" >
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0" role="main" >
        <div class="container">
            <h1 class="display-2" style="text-align: center; color: #e6e6e6;"><b>JavaEats</b></h1>
            <div class="row justify-content-md-center">
                <div class="col col-lg-1"></div>
                <div class="col-md-auto catalogo">
                    <div class="my-container-sm geral">
                        <h2 style="color: #2B2D2F; padding-bottom: 10px">Iniciar sessão</h2>
                        <form method="post" action="/login/" class="form-group">
                            <input class="form-control" type="text" name="email" placeholder="Email" style="margin-top: 10px; margin-bottom: 5px;" required/>
                            <input class="form-control" type="password" name="password" placeholder="Password"/><br/>
                            <button class="btn btn-primary btn-block btn-toggle" type="submit" style="background-color: #956348; border-color: #956348">Login</button>
                        </form>
                        <!--Validação de conta-->

                        <#if inativo?exists>
                            <p class="alert alert-danger">Desativaste a tua conta. Clica <a href="/reativar/">aqui</a> para a ativares!</p>
                        </#if>

                        <#if sucesso?exists>
                            <p class="alert alert-success">Conta criada com sucesso!</p>
                        </#if>

                        <#if reativacao?exists>
                            <p class="alert alert-success">Conta reativada com sucesso!</p>
                        </#if>

                        <#if login_error?exists>
                            <p class="alert alert-danger">Utilizador ou password inválidos! ಥ_ಥ</p>
                        </#if>
                        <#if pendente?exists>
                            <p class="alert alert-info">Espera pela aprovação da tua conta! ( ≖.≖)</p>
                        </#if>
                        <#if bloqueado?exists>
                            <p class="alert alert-warning">Por motivos de segurança, a tua conta está bloqueada! Contacta-nos através de help@javaeats.pt</p>
                        </#if>

                        <a style="margin-bottom: 10px" href="/recuperar/">Recuperar password</a>
                    </div>

                    <div class="my-container-sm geral">
                        <h5 style="padding-bottom: 10px">Não tens conta? <br/>Junta-te a nós!</h5>

                        <div class="dropdown">
                            <button class="btn btn-primary btn-block btn-toggle dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #956348; border-color: #956348">
                                Registo
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/registo_cliente/">Cliente</a>
                                <a class="dropdown-item" href="/registo_estafeta/">Estafeta</a>
                                <a class="dropdown-item" href="/registo_estabelecimento/">Estabelecimento</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col col-lg-1"></div>

            </div>

        </div>

    </main>
    <#include "/footer.ftl">
    </body>
</html>
