<!DOCTYPE html>
<html>
<#assign title="reativar conta">

<#include "/base.ftl" >
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0" role="main" ><br/><br/>
        <h1 class="display-2" style="color: #e6e6e6;"><b>&#127881; Bem-vindo de volta &#127881;</b></h1>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-1"></div>
                <div class="col-md-auto catalogo">
                    <div class="my-container-sm geral">
                        <h2 style="color: #2B2D2F; padding-bottom: 10px">Introduz o teu email</h2>
                        <form method="post" action="/reativar/" class="form-group">
                            <input class="form-control" type="email" id="email" name="email" placeholder="Email" required><br>
                            <div>
                                <button class="btn btn-success btn-toggle" type="submit">Enviar</button>
                            </div>
                        </form>
                        <#if email_not_found?exists>
                            <p class="alert alert-danger">Email não registado!</p>
                        </#if>
                    </div>
                </div>
                <div class="col col-lg-1"></div>
            </div>
        </div>
    </main>
    <#include "/footer.ftl">
</body>
</html>
